@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.pixelated {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

@font-face {
  font-family: PressStart;
  src: url('/assets/font/PressStart2P-Regular.ttf');
}

@theme {
  --font-primary: 'PressStart';
}
